body {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

.logo {
  text-decoration: none;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.blue-logo {
  color: #4d5ae5;
}

.navigation-list {
  list-style: none;
}

.navigation-list .navigation-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
}

.contact-list {
  list-style: none;
}

.contact-list .contact-link {
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.contact-list .contact-link:hover {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero .hero-title {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.hero .hero-cta-button {
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
}

.hero .hero-cta-button:hover {
  background-color: #404bbf;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.features-list {
  list-style: none;
}

.ternary-title {
  font-size: 20px;
  font-weight: 500;
}

.features-list p {
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team .team-list {
  list-style: none;
}

.team .team-list .team-item {
  width: 100%;
  background-color: #fff;
}

.worker-name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.profession {
  text-align: center;
  color: #434455;
}

.portfolio-list {
  list-style: none;
}

.portfolio-list p {
  color: #434455;
}

footer {
  background-color: #2e2f42;
}

footer .logo {
  color: #fff;
}

footer p {
  color: #fff;
}
