body {
  background-color: #fff;
  line-height: 1.5;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

.logo {
  text-decoration: none;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.blue-logo {
  color: #4d5ae5;
}

ul {
  list-style: none;
}

.navigation-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.contact-link {
  color: #434455;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-cta-button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.hero-cta-button:hover,
.hero-cta-button:focus {
  background-color: #404bbf;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.ternary-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02;
  line-height: 1.2;
  color: #2e2f42;
}

.features-list p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}
.team-item {
  width: 100%;
  background-color: #fff;
}

.worker-name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.profession {
  text-align: center;
  color: #434455;
  letter-spacing: 0.02em;
}

.portfolio-list p {
  color: #434455;
  letter-spacing: 0.02em;
}

footer {
  background-color: #2e2f42;
}

.secondary-logo {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

footer p {
  color: #fff;
  letter-spacing: 0.02em;
}
