body {
  background-color: #fff;
  line-height: 1.5;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
  gap: 76px;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.blue-logo {
  color: #4d5ae5;
}

ul {
  list-style: none;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.contact-link {
  color: #434455;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  padding: 188px 0;
  background-color: #2e2f42;
}
.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  max-width: 496px;
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.hero-cta-button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  border-radius: 4px;
  letter-spacing: 0.04em;
}
.hero-cta-button:hover,
.hero-cta-button:focus {
  background-color: #404bbf;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ternary-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.features-item {
  max-width: 264px;
}

p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-width: 264px;
  border-radius: 0 0 4px 4px;
}

.worker-name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.profession {
  text-align: center;
  color: #434455;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.bottom-page {
  padding: 100px 0;
  background-color: #2e2f42;
}

.item-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item {
  width: 360px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.secondary-logo {
  color: #f4f4fd;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.bottom-page-paragraph {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 16px;
}
