body {
  background-color: #fff;
  line-height: 24;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
}

.logo {
  text-decoration: none;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 21;
  letter-spacing: 3%;
}

.blue-logo {
  color: #4d5ae5;
}

ul {
  list-style: none;
}

.navigation-link {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 2%;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.contact-link {
  color: #434455;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 2%;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero .hero-title {
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 60;
  letter-spacing: 2%;
}

.hero .hero-cta-button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 4%;
}

.hero .hero-cta-button:hover,
.hero-cta-button:focus {
  background-color: #404bbf;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 40;
  letter-spacing: 2%;
}

.ternary-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2%;
  color: #2e2f42;
}

.features-list p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2%;
}

.team {
  background-color: #f4f4fd;
}

.team .team-list .team-item {
  width: 100%;
  background-color: #fff;
}

.worker-name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2%;
}

.profession {
  text-align: center;
  color: #434455;
  letter-spacing: 2%;
}

.portfolio-list p {
  color: #434455;
  letter-spacing: 2%;
}

footer {
  background-color: #2e2f42;
}

footer .logo {
  color: #f4f4f4;
}

footer p {
  color: #fff;
  letter-spacing: 2%;
}
